<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand m-md-3" routerLink="/">Tomorrow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="isLogged()">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Today <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Tomorrow</a>
        </li>
        <li class="nav-item ms-3">
          <button type="button" class="btn btn-primary btn-floating">
            <i class="fas fa-plus"></i>
          </button>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto me-3">
        <li class="nav-item" class="me-3">
          <a class="navbar-text text-primary">{{user?.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav>
